<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'admin/adminhomeindex2.html' %}
{% block body %}
<body>
<form action="/myapp/changepassword_adm_post/" method="post">
<table class="table table-bordered">
    <tr>
        <th align="center" colspan="2">change password</th>
    </tr>
    <tr>
        <th>current password</th>
        <td>
            <input type="text" name="current" class="form-control" id="textfield" required>
        </td>
    </tr>
    <tr>
        <th>New password</th>
        <td>
            <input type="text" name="new" class="form-control" id="textfield2" required>
        </td>
    </tr>
    <tr>
        <th>confirm password</th>
        <td>
            <input type="text" name="confirm" class="form-control" id="textfield3" required>
        </td>
    </tr>
     <tr>
      <td align="center" colspan="2"><input type="submit" name="button" id="button" value="ADD" class="btn btn btn-info" /></td>
          </tr>

</table>
</form>
</body>
{% endblock %}
</html>