<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<a href="/myapp/addstockdetails/">add stockdetails</a><br>
<a href="/myapp/addsubsidy/">add subsidy</a><br>
<a href="/myapp/viewshopkeeper/">requested shopkeeper</a><br>
<a href="/myapp/viewapprovedshopkeeper/">view approved shopkeeper</a><br>
<a href="/myapp/viewrejectedshopkeeper/">view rejected shopkeeper</a><br>
<a href="/myapp/viewcardholder/">view cardholder</a><br>
<a href="/myapp/viewstock/">view stock details</a><br>
<a href="/myapp/viewsubsidy_adm/">view subsidy</a><br>
<a href="/myapp/viewcomplaint/">view complaint</a><br>

</body>
</html>