<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'admin/adminhomeindex2.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/myapp/viewshopkeeper_post/">
{% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <td>search</td>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" class="form-control"/></td>
      <td><input type="submit" name="button" id="button" value="GO" class="btn btn btn-info" /></td>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr>
      <td>Sl.no</td>
      <td>shop.no</td>
        <td>photo</td>
      <td>shopkeeper_name</td>
      <td>district</td>
      <td>place</td>
      <td>thaluk</td>
      <td>post</td>
      <td>pincode</td>
      <td>ward.no</td>
      <td>phone</td>
      <td>email</td>

    </tr>
      {% for i in data %}


    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.rationshop_no }}</td>
        <td><img src="{{ i.photo }}" height="100" width="100" alt=""/></td>
      <td>{{ i.shopkeeper_name }}</td>
      <td>&nbsp;{{ i.district }}</td>
      <td>{{ i.place }}</td>
      <td>{{ i.thaluk }}</td>
      <td>{{ i.post }}</td>
      <td>{{ i.pincode }}</td>
      <td>&nbsp;{{ i.ward_no }}</td>
      <td>&nbsp;{{ i.phone }}</td>
      <td>{{ i.email }}</td>

    </tr>      {% endfor %}

  </table>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}
</html>
