<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/shopviewprofile/">view profile</a><br>
<a href="/myapp/updatestock/">update stock</a><br>
<a href="/myapp/addtoken/">add token</a><br>
<a href="/myapp/viewtokenrequest/">view token request</a><br>
<a href="/myapp/viewbooking/">view booking</a><br>
<a href="/myapp/viewpayment/">view payment</a><br>
<a href="/myapp/viewsubsidy_shop/">view subsidy</a><br>
<a href="/myapp/viewupdatedstock/">view updated stock</a><br>
<a href="/myapp/viewtoken/">view token</a><br>


</body>
</html>