<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'shop/shophomeindex2.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <td>search</td>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" class="form-control"/></td>
      <td><input type="submit" name="button" id="button" value="go" class="btn btn btn-info" /></td>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr>
      <th>sl.no</th>
      <th>date</th>
      <th>cardholder_name</th>
      <th>card.no</th>
      <th>total_price</th>
      <th>status</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.date }}&nbsp;</td>
      <td>{{ i.CARDHOLDER.cardholder_name }}</td>
      <td>{{ i.CARDHOLDER.rationcard_no }}</td>
      <td>{{ i.total_price }}</td>
      <td>{{ i.status }}</td>
    </tr>
      {% endfor %}
  </table>
  
</form>
</body>
{% endblock %}
</html>
