<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'shop/shophomeindex2.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/myapp/viewsubsidy_shop_post/">
    <table class="table table-bordered">
    <tr>
      <td>search</td>
      <td><label for="textfield" ></label>
      <input type="text" name="textfield" id="textfield" class="form-control" placeholder="card type"/></td>
      <td><input type="submit" name="button" id="button" value="GO" class="btn btn btn-info"/></td>
    </tr>
  </table>
 <table class="table table-bordered">
  <tr>
    <th>sl.no</th>
{#    <th>card_color</th>#}
    <th>card type</th>
    <th>commodites</th>
      <th>quantity</th>
      <th>quantity type</th>
{#      <th>members range</th>#}
    <th>price</th>
  </tr>


     {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
{#    <td>&nbsp;{{ i.card_color }}</td>#}
    <td>{{ i.beneficiaries }}</td>
    <td>{{ i.commodities.item_name }}</td>
      <td>{{ i.quantity }}</td>
      <td>{{ i.quantitytype }}</td>
{#      <td>{{ i.Memberrange }}</td>#}
    <td>{{ i.price }}&nbsp;</td>
  </tr>
     {% endfor %}
</table>
</form>

</body>
{% endblock %}
</html>
